{% extends 'home.html' %}
{% load static %}
{% block title %}من نحن{% endblock %}
{% block body %}
    <div class="about-container">
        <div class="about-box">
            <p class="about-header">مــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــسيوم</p>
            <p class="about-sub-header">We offer you the unique and different</p>
        </div>
    </div>
{% endblock %}
{% block content %}
    <br>
    <br>
    <p class="main-header">المنصة</p>
    <p class="sub-header">مرحبًا بكم في مسيوم، وجهتك الموثوقة لبيع وشراء السيارات المستعملة.</p>
    <br>
    <br>
    <br>
    <p class="main-header">عن المنصة</p>
    <p dir="rtl" class="sub-header">(مسيوم) هو منصة مبتكرة لبيع السيارات تعتمد على نظام تسعير آلي ذكي.</p>
    <br>
    <br>
    <br>
    <p class="main-header">ما يميزنا</p>
    <ul dir="rtl">
        <br>
        <li class="sub-header"><b><mark>نظام تسعير عادل:</mark></b> نستخدم نظامًا فريدًا لتحديد أسعار السيارات بناءً على مواصفاتها وحالتها. يضمن ذلك حصول البائعين على سعر عادل لسياراتهم، والمشترين على دفع سعر مناسب.</li>
        <br>
        <hr>
        <br>
        <li class="sub-header"><b><mark>سهولة الاستخدام:</mark></b> تم تصميم موقعنا الإلكتروني ليكون سهل الاستخدام، مما يسهل عليك العثور على السيارة التي تبحث عنها أو بيع سيارتك المستعملة.</li>
        <br>
        <hr>
        <br>
        <li class="sub-header"><b><mark>ثقة وأمان:</mark></b> نلتزم بأعلى معايير الثقة والأمان، لضمان تجربة بيع وشراء آمنة وموثوقة.</li>
    </ul>
    <br>
    <br>
    <br>
    <p class="main-header">لماذا تختار متجرنا؟</p>
    <p dir="rtl" class="sub-header">إذا كنت تبحث عن بيع أو شراء سيارة مستعملة، فإن <mark class="mark-2">مسيوم</mark> هو الخيار الأمثل لك. نقدم نظام تسعير عادل، وسهولة الاستخدام، وثقة وأمان.</p>
    <br>
    <br>
    <br>
{% endblock %}