{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>الصفحة الرئيسية</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/"><img src="{% static 'images/logo.png' %}"></a>
            <div class="links">
                <a href="#">من نحن</a>
                <a href="/signup">إنشاء حساب</a>
                <a href="/login">تسجيل الدخول</a>
            </div>
        </nav>
        <main>

            <div class="double-container">
                <div id="box1">
                    <button class="outline">زر بلا</button>
                </div>
                <div id="box2">
                    <button class="danger">زر بلا</button>
                </div>
            </div>
            <div class="double-container inputs-container">
                <div id="box1">
                    <input type="text">
                </div>
                <div id="box2">
                    <input type="text">
                </div>
            </div>
            <p class="main-header">الصفحة الرئيسية</p>
            <p class="sub-header">الصفحة الرئيسية</p>

            <div class="success-message">
                <p>تم حفظ الطلب بنجاح</p>
                <div class="link">
                    <a href="#">بلا بلا</a>
                    <a href="#">بلا بلا</a>
                    <a href="#">بلا بلا</a>
                </div>
            </div>

            <button class="primary">زر بلا</button>
            <button class="outline">زر بلا</button>
            <button class="danger">زر بلا</button>
            <button class="ibtn"><span class="material-icons">close</span></button>
            <input type="text">
            <div style="width:100px;height:100px;" class="image-box"><img src="{% static 'images/logo.png' %}"></div>

            <div class="list">
                <div class="list-item">
                    <div class="list-item-header">الهيدر</div>
                    <div class="list-item-sub-header">السب هيدر</div>
                </div>
                <div class="list-item">
                    <div class="double-container">
                        <div id="box1">
                            <button class="ibtn"><span class="material-icons">close</span></button>
                        </div>
                        <div id="box2">
                            <div class="list-item-header">الهيدر</div>
                            <div class="list-item-sub-header">السب هيدر</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-2">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p class="value">المبلغ المستحق للمركبة <span>100.0 ر.س</span></p>
        </main>
        <footer>
            <div class="link">
                <div class="link-box">
                    <p class="header">الراوبط الهامة</p>
                    <a href="#">رابط 1</a>
                    <a href="#">رابط 2</a>
                    <a href="#">رابط 3</a>
                    <a href="#">رابط 4</a>
                </div>
                <div class="link-box">
                    <p class="header">الراوبط الهامة</p>
                    <a href="#">رابط 1</a>
                    <a href="#">رابط 2</a>
                    <a href="#">رابط 3</a>
                    <a href="#">رابط 4</a>
                </div>
                <div class="link-box">
                    <p class="header">الراوبط الهامة</p>
                    <a href="#">رابط 1</a>
                    <a href="#">رابط 2</a>
                    <a href="#">رابط 3</a>
                    <a href="#">رابط 4</a>
                </div>
                <div class="link-box">
                    <p class="header">الراوبط الهامة</p>
                    <a href="#">رابط 1</a>
                    <a href="#">رابط 2</a>
                    <a href="#">رابط 3</a>
                    <a href="#">رابط 4</a>
                </div>
                <div class="link-box">
                    <p class="header">الراوبط الهامة</p>
                    <a href="#">رابط 1</a>
                    <a href="#">رابط 2</a>
                    <a href="#">رابط 3</a>
                    <a href="#">رابط 4</a>
                </div>
            </div>
            <p class="copyright">منصة مسيوم 2024 ©</p>
        </footer>

        <div id="snackbar" class="snackbar"><p id="snackbarText"></p></div>
        <script src="{% static 'js/jQuery.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>