{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>مسيوم | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="link">
                <a href="/"><img src="{% static 'images/logo.png' %}"></a>
                <div class="links">
                    {% if is_authenticated %}
                        <a href="/notifications">الإشعارات{% if notificationCount != 0 %}
                            <p class="follow-notifi">{{notificationCount}}</p>
                            {% endif %}</a>
                        <a href="/favorite">المفضلة<p class="follow-notifi">{{favoriteCount}}</p></a>
                        <button id="searchBtn"><span class="material-icons">search</span></button>
                        <button id="moreBtn" style="margin-left:10px;"><span class="material-icons">expand_more</span></button>
                    {% else %}
                        <a href="/about"><strong>من نحن</strong></a>
                        <a href="/authentication/signup">إنشاء حساب</a>
                        <a href="/authentication/login">تسجيل الدخول</a>
                        <button id="searchBtn"><span class="material-icons">search</span></button>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <main>
            <div class="menu">
                <a style="border-top:1px solid #ccc;" href="/profile">الملف الشخصي</a>
                <a href="/cars/add-car">إضافة إعلان</a>
                <a href="/chat/">المحادثات</a>
                <a href="/authentication/logout">تسجيل الخروج</a>
            </div>
            {% block content %}
            {% if brandName %}
            <p class="main-header">{{brandName}}</p>
            {% else %}
            <p class="main-header">الصفحة الرئيسية</p>
            {% endif %}
            <br>
            <p class="sub-header">التصنيفات</p>
            <div class="grid grid-4" dir="rtl">
                <div class="image-box">
                    <a href="/c/تويوتا">
                        <img src="{% static 'images/toyota.png' %}">
                    </a>
                </div>
                <div class="image-box">
                    <a href="/c/هونداي">
                        <img src="{% static 'images/hyundai.png' %}">
                    </a>
                </div>
                <div class="image-box">
                    <a href="/c/جمس">
                        <img src="{% static 'images/gmc.jpg' %}">
                    </a>
                </div>
                <div class="image-box">
                    <a href="/c/فورد">
                        <img src="{% static 'images/ford.jpg' %}">
                    </a>
                </div>
            </div>

            <br>
            <br>
            <p class="sub-header">المركبات</p>
            <div class="grid grid-4" dir="rtl">
                {% for product in products %}
                <div>
                    <a href="/products/{{product.1.pk}}">
                        <div class="image-box" style="height:130px;">
                            <img src="{{product.0}}">
                        </div>
                        <div class="product-header">
                            <p class="value">{{product.1.car_name}} <span>{{product.1.car_price}} ر.س</span></p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endblock %}
        </main>
        <footer>
            <div class="link">
                <div class="link-box">
                    <p class="header">الراوبط الهامة</p>
                    <a href="/about">من نحن</a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
                <div class="link-box">
                    <p class="header">الراوبط الهامة</p>
                    <a href="#">رابط 1</a>
                    <a href="#">رابط 2</a>
                    <a href="#">رابط 3</a>
                    <a href="#">رابط 4</a>
                </div>
                <div class="link-box">
                    <p class="header">الراوبط الهامة</p>
                    <a href="#">رابط 1</a>
                    <a href="#">رابط 2</a>
                    <a href="#">رابط 3</a>
                    <a href="#">رابط 4</a>
                </div>
                <div class="link-box">
                    <p class="header">الراوبط الهامة</p>
                    <a href="#">رابط 1</a>
                    <a href="#">رابط 2</a>
                    <a href="#">رابط 3</a>
                    <a href="#">رابط 4</a>
                </div>
                <div class="link-box">
                    <p class="header">الراوبط الهامة</p>
                    <a href="#">رابط 1</a>
                    <a href="#">رابط 2</a>
                    <a href="#">رابط 3</a>
                    <a href="#">رابط 4</a>
                </div>
            </div>
            <p class="copyright">منصة مسيوم 2024 ©</p>
        </footer>

        <div id="snackbar" class="snackbar"><p id="snackbarText"></p></div>
        <script src="{% static 'js/jQuery.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <div class="search-box">
            <input type="text" class="search-input" placeholder="البحث">
        </div>
    </body>
</html>