{% extends 'home.html' %}
{% load static %}
{% block title %}{{userData.first_name}} {{userData.last_name}}{% endblock %}
{% block content %}
<p class="main-header">{{userData.first_name}} {{userData.last_name}}</p>
{% if mainUser.email == userData.email %}
<a class="right" href="/edit-profile">تعديل الملف الشخصي</a>
<a class="left" href="/ratings?user_id={{userData.pk}}">آراء العملاء</a>
{% else %}
<a class="right" href="/ratings?user_id={{userData.pk}}">آراء العملاء</a>
{% endif %}
<br>
<br>
<hr>
<br>
            <p class="sub-header">المركبات</p>
            <div class="grid grid-4" dir="rtl">
                {% for product in products %}
                <div>
                    <a href="/products/{{product.1.pk}}">
                        <div class="image-box" style="height:130px;">
                            <img src="{{product.0}}">
                        </div>
                        <div class="product-header">
                            <p class="value">{{product.1.car_name}} <span>{{product.1.car_price}} ر.س</span></p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
{% endblock %}