{% extends 'home.html' %}
{% load static %}
{% block title %}{{search}}{% endblock %}
            {% block content %}
            <div class="filter-list">
                <p class="filter-header">التصفية</p>

                <p class="filter-sub-header">الترتيب</p>
                <a href="?low-to-high">من الأدنى إلى الأعلى</a>
                <br>
                <a href="?high-to-low">من الأعلى إلى الأدنى</a>

                <p class="filter-sub-header">العلامة التجارية</p>{% for brand in brands %}
                <a href="?carBrand={{brand}}">{{brand}}</a>{% endfor %}
            </div>
            <p dir="rtl" class="main-header">نتائج بحث '{{search}}'</p>
            <br>
            <p class="sub-header">المركبات</p>
            <div class="grid grid-4" dir="rtl">
                {% for product in products %}
                <div>
                    <a href="/products/{{product.1.pk}}">
                        <div class="image-box" style="height:130px;">
                            <img src="{{product.0}}">
                        </div>
                        <div class="product-header">
                            <p class="value">{{product.1.car_name}} <span>{{product.1.car_price}} ر.س</span></p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endblock %}