@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');
*{
    padding:0px;
    margin:0px;
    outline:none;
    font-family: 'Roboto','IBM Plex Sans Arabic', sans-serif;
    box-sizing:border-box;
}

nav{
    width:100%;
    height:100px;
    border-bottom:1px solid #ccc;
    margin-bottom:100px;
    overflow:hidden;
    transition-duration: .2s;
    background-color:#001e3d;
}
nav .link > a{
    display:block;
    text-align:right;
    float:right;
}
nav > .link{
    width:100%;
    max-width:700px;
    margin:auto;
}
nav .link > a img{
    width:100px;
    height:100px;
}

.links{
    width:90%;
    margin:auto;
    max-width:600px;
}
.links a {
    text-decoration:none;
    color:#fff;
    font-size:12pt;
    float:right;
    margin-top:35px;
    margin-right:30px;
}
.links a:active{
    color:#fff;
}

footer{
    width:100%;
    border-top:1px solid #ccc;
    margin-top:100px;
    padding-block:20px;
}

footer .link{
    width:100%;
    max-width:700px;
    margin:auto;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    direction:rtl;
}

.link-box{
    width:100%;
    display:grid;
    grid-template-columns:100%;
}
.link-box .header{
    font-size:14pt;
}
.link-box a{
    float:right;
    height:30px;
}

main{
    width:100%;
    max-width:700px;
    margin:auto;
}

.main-header{
    font-size:20pt;
    text-align:right;
    margin-bottom: 10px;
}

.sub-header{
    font-size:15pt;
    text-align:right;
    color:#555;
    margin-bottom: 5px;
}

.copyright{
    width:100%;
    max-width:700px;
    margin:auto;
    text-align:right;
    padding-top:20px;
    margin-top:20px;
    font-size:15pt;
}

.primary{
    border:0px;
    border-radius:5px;
    padding:7px;
    padding-inline:20px;
    background-color:#eee;
    font-size:13pt;
}


.primary:hover{
    background-color:rgb(210, 210, 210);
}
.primary:active{
    background-color:rgb(190, 190, 190);
}

.outline{
    outline:1px solid #ccc;
    border:0px;
    border-radius:5px;
    padding:7px;
    padding-inline:20px;
    background-color:#fff;
    font-size:13pt;
}

.outline:hover{
    background-color:rgb(230, 230, 230);
}
.outline:active{
    background-color:rgb(210, 210, 210);
}

.danger{
    border:0px;
    border-radius:5px;
    padding:7px;
    padding-inline:20px;
    background-color:red;
    color:white;
    font-size:13pt;
}
.danger:hover{
    background-color:rgb(230, 0, 0);
}
.danger:active{
    background-color:rgb(210, 0, 0);
}

.success-message{
    width:100%;
    padding:20px;
    border-radius:10px;
    border:1px solid darkgreen;
    background-color:lightgreen;
    direction:rtl;
    margin-block:20px;
}
.success-message p{
    color:rgb(2, 34, 2);
    font-size:15pt;
}

a{
    text-decoration:none;
    color:rgb(42, 107, 247);
}

.success-message .link{
    width:100%;
    display:grid;
    grid-template-columns: 100%;
}

input, select , textarea{
    width:300px;
    padding:10px;
    border:2px solid #ccc;
    border-radius:5px;
    font-size:13pt;
    color:#333;
    text-align:right;
}
input:focus, input:hover, textarea:focus, textarea:hover, select:focus, select:hover{
    border-color:#aaa;
}




.snackbar{
    position:fixed;
    left:50%;
    transform:translateX(-50%);
    bottom:-100px;
    background-color:#333;
    color:#fff;
    border-radius:3px;
    padding:15px;
    text-align:right;
    width:80%;
    max-width:400px;
    transition-duration: .2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

button{
    cursor:pointer;
}

.ibtn{
    width:45px;
    height:45px;
    border-radius:50%;
    border:0px;
    background-color:#eee;
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-box{
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-box img{
    max-width:100%;
    max-height:100%;
}

form > input, form > select, form > textarea, form > label{
    width:100%;
    text-align:right;
    margin-top:10px;
}

.right{
    float:right;
}
.left{
    float:left;
}

.double-container{
    display:grid;
    grid-template-columns: 49% 49%;
    gap:2%;
    width:100%;
}
.double-container > #box1{
    display:flex;
    align-items: center;
}

.list{
    width:100%;
}
.list-item{
    width:100%;
    border-bottom: 1px solid #ccc;
    padding-block:10px;
}
.list-item-header{
    font-size:17pt;
    text-align:right;
}
.list-item-sub-header{
    font-size:13pt;
    text-align:right;
    color:#555;
}

.grid{
    width:100%;
    display:grid;
}

.grid-2{
    grid-template-columns: 49% 49%;
    gap:2.2%;
}
.grid-3{
    grid-template-columns: 32% 32% 32%;
    gap:2%;
}
.grid-4{
    grid-template-columns: 24% 24% 24% 24%;
    gap:1.4%;
}

.grid > div{
    padding:15px;
    border-radius:5px;
    border:1px solid #ccc;
    height:200px;
    margin-block:10px;
}

.inputs-container input{
    width:100%;
}

.value{
    width:100%;
    text-align:right;
    font-size:14pt;
}
.value span{
    float:left;
    color:rgb(0, 99, 192);
}

.product-header{
    position:absolute;
    width:7%;
    margin-top:15px;
}

.product-header p{
    font-size:11pt;
    color:#444;
}

.image-slider{
    border:1px solid #ccc;
    height:400px;
}
.image-slider .images{
    overflow:hidden;
    display:flex;
    float:left;
}
.image-slider .image-box{
    transition-duration: .2s;
    width:100%;
    min-width:100%;
    height:400px;
}

.image-slider > button{
    float:left;
    margin-top:-225px;
    margin-left:20px;
}
.image-slider .lb{
    float:right;
    margin-right:20px;
}


.follow-notifi{
    font-size:8pt;
    color:white;
    background-color:#007BFF;
    border-radius:50%;
    width:20px;
    height:20px;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    float:left;
    margin-top:-10px;
}

.links button{
    border-radius:50%;
    background-color:#003366;
    color:white;
    width:40px;
    height:40px;
    border:0px;
    margin-top:30px;
    margin-left:-50px;
}

.search-box{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    transition-duration:.2s;
    display:none;
    background-color:transparent;
    /* background-color: rgba(167, 167, 167, .4);
    backdrop-filter: blur(5px); */
}

.new{
    float:right;
    background-color:red;
    width:10px;
    margin-right:-20px;
    height:10px;
    border-radius:10px;
    margin-top:20px;
}

.search-btn{
    width:50px;
    height:50px;
    background-color:none;
    border:0px;
    float:right;
    margin-top:-105px;
    margin-right:20px;
}

.search-input{
    margin:auto;
    display:block;
    width:100%;
    max-width:500px;
    margin-top:120px;
}

.filter-list{
    width:160px;
    float:right;
    margin-right:-160px;
    direction: rtl;
}
.filter-header{
    font-size:17pt;
}
.filter-sub-header{
    font-size:12pt;
    color:#444;
    margin-top:20px;
}

.chat-box{
    width:1000px;
    margin-left:-150px;
    border:1px solid #ccc;
    height:500px;
    display:grid;
    grid-template-columns: auto 25%;
}


.rooms{
    padding:10px;
    border-left:1px solid #ccc;
}

.rooms .list-item-header{
    font-size:14pt;
}
.rooms .list-item-sub-header{
    font-size:10pt;
}

.chat{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px auto 60px;
}

.chat-header{
    width:100%;
    float:right;
    text-align:right;
    padding:20px;
    height:70px;
    font-size:15pt;
    border-bottom:1px solid #ccc;
}

.chat-container{
    border-bottom:1px solid #ccc;
    overflow:auto;
    height:370px;
}

.text-user-1{
    padding:5px;
    border-radius:5px;
    font-size:12pt;
    margin:20px;
    float:right;
    background-color:rgb(203, 241, 240);
    border:1px solid #ccc;
}
.width-100{
    width:100%;
    float:left;
}

.text-user-2{
    padding:5px;
    border-radius:5px;
    font-size:12pt;
    margin:20px;
    float:left;
    border:1px solid #ccc;
}

.new-messages{
    background: red;
    border-radius:50%;
    width:20px;
    height:20px;
    color:white;
    text-align:center;
    font-size: 9pt;
    padding-top:3px;
    margin-top:-20px;
    float:left;
}

#chatForm{
    padding-inline:10px;
}

.menu{
    position: absolute;
    width:200px;
    padding-block:20px;
    background-color:rgba(231, 231, 231, 0.6);
    top:60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:10px;
    border-top-left-radius: 0px;
    margin-left:50px;
    transition-duration: .2s;
    opacity: 0;
    display:none;
    backdrop-filter: blur(10px);
}

.menu a{
    width:100%;
    border-bottom:1px solid #ccc;
    float:left;
    padding:7px;
    text-align:right;
}


.about-container{
    width:100%;
    height:450px;
    margin-top:-101px;
    background-image: url('/static/images/s-class.jpg');
    background-size:100%;
    background-position: 0 -50px;
}

.about-box{
    width:100%;
    margin:auto;
    height:450px;
    opacity: .85;
    background-color: #001e3d;
}

.about-header{
    color:white;
    width:100%;
    max-width:700px;
    margin:auto;
    text-align:right;
    font-size:50pt;
    font-weight:bold;
    padding-top:100px;
}
.about-sub-header{
    color:white;
    width:100%;
    max-width:700px;
    margin:auto;
    text-align:right;
    font-size:31pt;
    padding-top:20px;
}